<%- include('partials/header'); -%>

<h2 class="create-header">Create Task</h2>
<form class="add-form">
  <div class="row">
    <div class="col-12 to-add">
      <label class="desc-label" for="description">Description</label>
      <input class="desc-inp" type="text" name="description" maxlength="20" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-2 to-add">
      <label for="completed">Completed</label>
    </div>
    <div class="col-12 col-md-5 to-add offset-md-5">
      <select name="completed" id="completed">
        <option value="YES">YES</option>
        <option value="NO">NO</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-2 to-add">
      <label for="deadline">Deadline</label>
    </div>
    <div class="col-12 col-md-5 to-add offset-md-5">
      <input class="dead-date" type="date" id="deadline" name="deadline" />
    </div>
  </div>
  <button type="submit" class="bttn">
    <i class="fa fa-database"></i> Submit
  </button>
</form>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // get the values
    const description = form.description.value;
    const completed = form.completed.value;
    const deadline = form.deadline.value;
    try {
      const res = await fetch("/create", {
        method: "POST",
        body: JSON.stringify({
          description,
          completed,
          deadline,
        }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.task) {
        location.assign("/tasks");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('partials/footer'); -%>
