<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h1>Welcome to Learning Management System :)</h1>
    <h3>Learn free courses and master web development in 8 weeks.</h3>
    <a href="/courses" class="btn">Get Started ></a>
  </div>
</header>

<%- include('partials/footer'); -%>
