@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* nav-css starts */
.nav-header {
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
}

.nav-header h1 {
  font-weight: 900;
}
.nav-header ul {
  display: flex;
  align-items: center;
}
.nav-header li {
  margin-left: 20px;
}
.nav-header li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

/* nav css ends */

/* home css starts*/
.headings {
  display: flex;
  margin-top: 7rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.headings h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}
.headings h3 {
  font-size: 2em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

.headings a {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5em;
}

/* home css ends */

.bttn {
  padding: 10px 16px;
  border-radius: 36px;
  background: #90ee90;
}

/* login form starts */

.login-form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

.login-form h2 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 40px;
}

.login-form label {
  font-size: 1.8rem;
  display: block;
  margin: 20px 0 10px;
}

.login-form input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1.5em;
  width: 100%;
}

.login-form button {
  border-width: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin-top: 10px;
}

/* login form ends   */

/* signup form starts */
.signup-form {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

.signup-form h2 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
}

.signup-form label {
  font-size: 1.8rem;
  display: block;
  margin: 20px 0 10px;
}

.signup-form input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1.5em;
  width: 100%;
}

.signup-form button {
  border-width: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin-top: 20px;
  letter-spacing: 2px;
}

/* signup ends  */

/* profile form starts */
.profile-form {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

.profile-name {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.profile-form label {
  font-size: 1.8rem;
  margin: 20px 0 10px;
}

.profile-form input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1.5em;
  width: 100%;
}

.profile-form button {
  border-width: 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin-top: 20px;
  letter-spacing: 2px;
}
.profile-top {
  display: flex;
  flex-direction: column;
}

.show-img img {
  display: block;
  margin: auto;
  width: 150px;
  border-radius: 50%;
}

.profile-top label {
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 200px;
  background-color: #90ee90;
  border-radius: 36px;
}

/* profile ends  */

/* courses starts */
.course-header {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.courses-card {
  width: 80%;
  margin: 0 auto;
  border: 3px solid lightgray;
  border-radius: 10px;
  margin-top: 30px;
}

.courses-card .btn.btn-link {
  font-size: 2rem;
  color: black;
}

.courses-card h5 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: 1.6rem;
}

.course-video {
  width: 50%;
  margin: 20px auto;
  height: 315px;
}
iframe {
  width: 100%;
}

.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0;
}

.courses-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body button {
  border-width: 0;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 10px 0;
}
.lesson {
  display: flex;
  align-items: center;
}

.lesson h4 {
  margin-right: 30px;
}

.lesson label {
  margin-right: 10px;
  font-size: 1.7rem;
  font-weight: normal;
}

.lesson select {
  padding: 7px;
  font-size: 1.5rem;
}

.lesson button {
  margin-left: 30px;
}

/* courses ends */

/* add or edit starts*/

.create-header {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.add-form {
  width: 60%;
  margin: 2rem auto;
  border: 3px solid lightgray;
}

.add-form .row {
  margin: 20px 0;
}

.add-form label {
  font-size: 2rem;
}

.desc-inp {
  width: 80%;
  margin: 10px auto;
  padding: 6px 15px;
}

.desc-label {
  padding-left: 15px;
}

.add-form select {
  width: 30%;
}

.add-form button {
  border-width: 0;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 10px 15px;
}

/* add or edit ends */

/* tasks starts here */
.bttn {
  padding: 7px 12px;
  border-radius: 36px;
  background: #90ee90;
}

.view-header {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
}

.add-task {
  font-size: 1.5rem;
}

.view-form {
  margin-top: 20px;
}

/* tasks ends here*/

.required:after {
  content: " *";
  color: red;
}

.error {
  color: red;
  margin: 10px 2px;
  font-size: 1.2em;
  font-weight: bold;
}
.hi-text {
  text-align: center;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #aaa;
  font-size: 1.8rem;
}

@media (max-width: 459px) {
  .home-header {
    margin-top: 100px;
  }
  nav {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
  }

  .hi-text {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
  }

  .headings {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .headings h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .headings h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-left: 2px;
    color: #999;
  }

  .headings a {
    margin-top: 20px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
  }

  .nav-header {
    display: flex;
    padding: 1.5rem;
  }

  .nav-header ul {
    display: flex;
    align-items: center;
  }

  .nav-header li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding: 8px 12px;
    letter-spacing: 1px;
  }

  /* login form starts */

  .login-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 25px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
  }

  .login-form h2 {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 40px;
  }

  .login-form label {
    font-size: 1.4rem;
    display: block;
    margin: 20px 0 10px;
  }

  .login-form input {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1.1em;
    width: 100%;
  }

  .login-form button {
    border-width: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 12px;
    font-size: 1.2rem;
    margin-top: 10px;
  }

  /* login form ends   */

  /* signup form starts */
  .signup-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
  }

  .signup-form h2 {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
  }

  .signup-form label {
    font-size: 1.4rem;
    display: block;
    margin: 10px 0 7px;
  }

  .signup-form input {
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1.1em;
    width: 100%;
  }

  .signup-form button {
    border-width: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 12px;
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 2px;
  }

  /* signup ends  */

  /* profile starts  */

  .profile-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
  }

  .profile-name {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .profile-form label {
    font-size: 1.4rem;
    margin: 20px 0 10px;
  }

  .profile-form input {
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1.2em;
    width: 100%;
  }

  .profile-form button {
    border-width: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 15px;
    font-size: 1.2rem;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .profile-top {
    display: flex;
    flex-direction: column;
  }

  .show-img img {
    display: block;
    margin: auto;
    width: 90px;
    border-radius: 50%;
  }

  .profile-top label {
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 120px;
    font-size: 1.3rem;
    background-color: #90ee90;
    border-radius: 36px;
  }

  /* profile ends  */

  /* courses starts */
  .course-header {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
  }

  .courses-card {
    width: 90%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
  }

  .courses-card .btn.btn-link {
    font-size: 1.4rem;
    padding: inherit;
    color: black;
    font-weight: 500;
  }

  .courses-card h5 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.2rem;
  }

  .course-video {
    width: 90%;
    margin: 13px auto;
    height: auto;
  }
  iframe {
    width: 100%;
    height: auto;
  }

  .lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lesson h4 {
    font-size: 1.2rem;
    margin-right: 0;
  }

  .lesson label {
    margin-top: 10px;
    margin-right: 0;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
  }

  .lesson select {
    padding: 3px;
    font-size: 1rem;
    margin-top: 7px;
  }

  .btn:active:focus,
  .btn:focus {
    outline: none;
    outline-offset: 0;
  }

  .courses-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body button {
    border-width: 0;
    padding: 6px 13px;
    font-size: 1rem;
    margin: 7px 0;
  }
  /* courses ends */

  /* add or edit starts*/

  .create-header {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
  }

  .add-form {
    width: 90%;
    margin: 2rem auto;
    border: 1px solid lightgray;
  }

  .add-form .row {
    margin: 20px 0;
  }

  .add-form label {
    font-size: 1.7rem;
    display: block;
    text-align: center;
  }

  .desc-inp {
    width: 88%;
    margin: 10px 20px;
    padding: 6px 15px;
  }

  .desc-label {
    padding-left: 15px;
  }

  .add-form select {
    width: 50%;
    margin: 8px auto;
    display: block;
    text-align: center;
  }

  .add-form .dead-date {
    width: 50%;
    margin: 8px auto;
    display: block;
    text-align: center;
  }

  .add-form button {
    border-width: 0;
    display: block;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 10px auto;
  }

  /* add or edit ends */

  /* tasks starts here */

  .view-header {
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 2rem;
  }

  .add-task {
    font-size: 1.2rem;
  }

  .view-form {
    margin-top: 20px;
  }

  .thead-dark {
    font-size: 1.2rem;
  }

  /* tasks ends here*/

  footer {
    text-align: center;
    margin-top: 30px;
    color: #aaa;
    font-size: 1.2rem;
  }
}
