@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* nav-css starts */
.nav-header {
  display: flex;
  padding: 2rem 2rem;
  justify-content: space-between;
}

.nav-header h1 {
  font-weight: 900;
}
.nav-header ul {
  display: flex;
  align-items: center;
}
.nav-header li {
  margin-left: 20px;
}
.nav-header li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.bttn {
  padding: 10px 16px;
  border-radius: 36px;
  background: #90ee90;
}

/* view tasks starts here */

.view-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.add-task {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.view-form {
  margin-top: 20px;
}

table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.task-info {
  text-align: center;
}

th,
td {
  padding: 15px;
}

thead {
  background-color: hsl(120, 3%, 60%);
}

.fa-edit {
  color: cornflowerblue;
}

.fa-trash {
  color: red;
}
.fa-file {
  color: green;
}

/* view tasks ends */

/* add or edit starts*/

.create-header {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.add-form {
  width: 60%;
  margin: 2rem auto;
  border: 3px solid lightgray;
}

.add-form input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.add-form select {
  width: 95%;
  padding: 0 20px;
  margin: 8px 0;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-form label {
  font-size: 2rem;
  padding: 15px;
}

.submit-view {
  padding-left: 15px;
}

/* add or edit ends */

footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #aaa;
  font-size: 1.8rem;
}

@media (max-width: 459px) {
  nav {
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
  }

  .nav-header {
    display: flex;
    padding: 1.5rem;
  }
  .nav-header ul {
    display: flex;
    align-items: center;
  }

  .nav-header li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    display: block;
    padding: 8px 12px;
    letter-spacing: 1px;
  }

  .view-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .add-task {
    font-size: 1.2rem;
  }

  .view-form {
    margin-top: 20px;
  }

  table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
  }

  .task-info {
    text-align: center;
  }

  th,
  td {
    padding: 12px;
  }

  thead {
    background-color: hsl(120, 3%, 60%);
  }

  .bttn {
    padding: 7px 12px;
    border-radius: 36px;
    background: #90ee90;
  }

  /* add or edit starts*/

  .create-header {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  .add-form {
    width: 85%;
    margin: 2rem auto;
    border: 1px solid lightgray;
  }

  .add-form input {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .add-form select {
    width: 95%;
    padding: 0 20px;
    margin: 8px 0;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .add-form label {
    font-size: 1.5rem;
    padding: 10px;
  }

  .submit-view {
    padding-left: 15px;
  }

  .submit-view .view {
    padding: 6px;
    font-size: 12px;
  }
  .submit-view .submit {
    padding: 6px;
    font-size: 12px;
  }

  /* add or edit ends */

  footer {
    text-align: center;
    margin-top: 30px;
    color: #aaa;
    font-size: 1.2rem;
  }
}
